

<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" class="inputStyle" name="username" placeholder="registered user: fede">
   </label>
   <label> Password
      <input type="password" class="inputStyle" name="password" placeholder="password: 12345678">
   </label>

   <button class='btn btn-info logAndSign'type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

