<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" class="inputStyle" name="username">
   </label>
   <label> Password
      <input type="password" class="inputStyle" name="password">
   </label>

   <button class='btn btn-info logAndSign'type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}