body {
  font-family: 'Creepster', cursive;
    background-color: rgb(98, 164, 171);
  
}

.white {
  color: white;
}

.black {
  color: black;
}

.navbar {
    padding-left: 30px;
}

.navbar-light .navbar-brand{
  color: white;
}

.navbar-light .navbar-brand:hover{
  color: #f0e008;
}

.rickandmortylogo {
  width: 90px;
}

.color-background-bg {
  
  background-color: rgb(20, 13, 17)
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #f0e008;
}

.item {
  max-width: 600px;
}
form input {
  margin-bottom: 16px,
}

.btn{
    color: rgb(10, 6, 6);
    border-color: white;
    margin-bottom: 2%;
    background-color: rgba(151,206,76);
}
.btn:hover{
    background-color: rgba(240,225,74);
    color:rgb(12, 1, 1);
}


nav{
margin-bottom: 3%;

}


.signup-container {
    text-align: center;
    width: fit-content;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
form {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    margin:16px 0;
    padding: 0;
    
}
.card-img-top{
  height: 300px;
  object-fit: cover;
  object-fit: left;
}

a{
  text-decoration: none;
  color: black;
}
.btn-danger{
  color: black;

}
.card{
  margin: 1%;
  border:2px solid black;
}
.redbtn{
  background-color: rgb(241, 79, 14)

}
.rickLogo{
margin-left: 25%;
  width: 15%;
}
#carouselExampleControls{
  border:2px solid black;
  border-radius: 8px;
  margin-top:5%;

}
#carouselExampleControls img{

  border-radius: 8px;
}
.firstButton{

  margin-left: 2%;
}
.inputStyle{
border-radius: 10px;
border:2px solid black;
padding: 4%;
}
.logAndSign{
margin-right: 3%;
}
.container{
  justify-content: center;
  align-items: center;
  
}
.row{
  margin-top: 0;
}

@media(max-width: 1000px){
.rickLogo{

  display: none;
}


}

@media(max-width: 375px){
  .row{
    margin-top: 0;
    padding-left: 3%;
    
  }
  
  
  }

  @media(max-width: 375px){
    .container{
    
      padding-left: 13%;
      
    }
  }
  @media(max-width: 768px){
    .container{
    
      padding-left: 10%;
    }
    
    
    }
  @media(max-width: 375px){
    .espisodeInvi{
    
      display: none;
    }
    
    
    }
    @media(max-width: 375px){
      .firstButton{
      
        margin-left: 12%;
      }
      
      
      }
    